



@media (max-width: 720px) {
  .breadcrumbs a {
    padding: 15px;
  }

  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 26px;
    border-bottom-width: 26px;
    border-left-width: 13px;
  }
  
  .footer-bt, .footer-bt p  {
	margin: 0;	
	text-align: center;
}
  
  
}
@media (max-width: 620px) {
  .breadcrumbs a {
    padding: 10px;
    font-size: 12px;
  }

  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 22px;
    border-bottom-width: 22px;
    border-left-width: 11px;
  }
}
@media (max-width: 520px) {
  .breadcrumbs a {
    padding: 5px;
  }

  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 16px;
    border-bottom-width: 16px;
    border-left-width: 8px;
  }

  .breadcrumbs li a span:first-child {
    display: block;
    margin: 0 auto;
  }

  .breadcrumbs li a span:last-child {
    display: none;
  }
}



@media only screen and (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}
@media only screen and (min-width: 1200px) {
	.container {
		min-width: 1170px;
	}
}
@media only screen and (min-width: 992px) {
	.container {
		min-width: 970px;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		min-width: 750px;
	}


}



@media only screen and (max-width: 992px) {
	 .footer-bt p {
	   text-align: center;
   }
	
}



@media only screen and (max-width: 768px) {
	.form-wrapper {
		max-width: 840px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
    }
	.search-form {
		padding: 0 10px;
	}
	
	 h2.hero-content-title {
      	font-size: 30px;
	}
	
	p.hero-content-sub {
		font-size: 20px;
	}
	
	
	/******* Search ********/
	
	.info-text {
		display: none;
	}
	
	
	
	/**** Footer ******/
	
	 .footer-bt p {
	   text-align: center;
   }
}



@media (max-width: 640px) {
	
	 h2.hero-content-title {
      	font-size: 25px;
	}
	
	.Home_hero_wd { 
	   height: 500px;
	}
	

}



@media (max-width: 480px) {

   .footer-bt p {
	   font-size: 12px;
	   text-align: center;
   }

}